/**
 * @file icon.css
 */

@font-face {
    font-family: "iconfont";
    src: url("iconfont.eot"); /* IE9 */
    src: url("iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("iconfont.woff") format("woff"), /* chrome、firefox */
    url("iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("iconfont.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}


.icon {
    font-family: "iconfont", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-x:before {
  content: "\78";
}
.icon-uniF102:before {
  content: "\f102";
}

.icon-trash:before {
  content: "\f103";
}

.icon-uniF104:before {
  content: "\f104";
}

.icon-guanbishengyin:before {
  content: "\f105";
}

.icon-menu:before {
  content: "\f106";
}

.icon-qushi:before {
  content: "\f10a";
}

.icon-chouma:before {
  content: "\f10b";
}

.icon-back:before {
  content: "\f10c";
}

.icon-uniF10D:before {
  content: "\f10d";
}

.icon-arrow-left:before {
  content: "\f10e";
}

.icon-guajiang:before {
  content: "\f10f";
}

.icon-close:before {
  content: "\f110";
}

.icon-down:before {
  content: "\f112";
}

.icon-notice:before {
  content: "\f113";
}

.icon-yejian:before {
  content: "\f114";
}

.icon-voice:before {
  content: "\f115";
}

.icon-jiesuanbaobiao:before {
  content: "\f200";
}

.icon-lishikaijiang:before {
  content: "\f201";
}

.icon-guize:before {
  content: "\f202";
}

.icon-xiazhuxiangqing:before {
  content: "\f203";
}

.icon-huanfu:before {
  content: "\f204";
}

.icon-notic:before {
  content: "\f205";
}

.icon-pc:before {
  content: "\f206";
}

.icon-favorite:before {
  content: "\f207";
}



